.container {
    padding: 4rem;
    .main-content{
        margin-bottom: 3rem;
        background: #31313a;
        padding: 0.8rem;
        border-radius: 8px;    }
    h2 {
        font-size: 3rem;
        padding-bottom: .8rem;
    }
    p,li{
        line-height: 1.8rem;
        margin: .5rem 0;
    }

    h5 {
        font-size: 2rem;
        margin: 1rem 0 0.5rem;
        display: inline-flex;
        padding-bottom: 1.5rem;
        
    }

    p {
        font-size: 1.5rem;
    }

    ul {
        list-style-type: disclosure-closed;
        padding-left: 3rem;
    }
    p.year{
        border: 1px solid #666;
        display: flex;
        padding: 0.2rem;
max-width: 21rem;
    }
}